<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <title>Assamese plag check</title>
  </head>
  <body>
    <h5>Note : The assamese plag check feature works upto 5000 characters</h5>
    <form action="/assamese" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label>Select file</label>
        <div class="custom-file">
          <input type="file" class="custom-file-input" name="file" id="file" />
          <label class="custom-file-label" for="file">Select file...</label>
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Upload</button>
    </form>
    <div class="container my-5">
      <form action="/assameseText" method="POST">
        <textarea
          name="input"
          class="form-control"
          rows="10"
          placeholder="Enter the assamese text"
        ></textarea>
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
