<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="eleven">
      <h1 class="title">Extracted Sentences</h1>
      <h5>
        <span id="plagCount">{{plagCount}}</span> out of
        <span id="totalSentences"> {{total}}</span> sentences plagiarised
      </h5>
      <h5><span id="plagPercent">0</span> % plagiarised</h5>
      {% if mostProbable|length > 0 %}
      <p>Most Probable Sources</p>
      {% for sites in mostProbable %}
      <li><a href="{{sites[0]}}">{{sites[0]}}</a></li>
      {% endfor %} {% endif %}
    </div>
    <div class="container">
      <table class="results">
        {% for sentence, src in res.items() %} {% if src == "" %}
        <tr>
          <td style="color: rgb(0, 255, 0)">
            Transformed : {{ sentence }}
            <p>Original : {{original[loop.index0]}}</p>
          </td>
          <td class="btn btn-danger btn-sm orignalSentence">Unselect</td>
        </tr>

        {% else %}
        <tr>
          <td style="color: red">
            Transformed : {{ sentence }} : <a href=" {{ src }}">Source</a>
            <p>Original : {{original[loop.index0]}}</p>
          </td>
          <td class="btn btn-danger btn-sm plagiarisedSentence">Unselect</td>
        </tr>
        {% endif %} {% endfor %}
      </table>
    </div>

    <script src="{{ url_for('static', filename='display.js') }}"></script>
  </body>
</html>
