<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Extracted sentences</h1>
    <ul>
      {% for sentence, src in res.items() %} {% if src == "" %}
      <li style="color: rgb(0, 255, 0)">{{ sentence }}</li>
      {% else %}
      <li style="color: red">{{ sentence }}:</li>
      <a href=" {{ src }}">Source</a>
      {% endif %} {% endfor %}
    </ul>
  </body>
</html>
