<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body class="background-1">
    <div class="eleven card">
      <h1 class="title">Extracted Sentences</h1>
      <h5>
        <span id="plagCount">{{plagCount}}</span> out of
        <span id="totalSentences"> {{total}}</span> sentences plagiarised
      </h5>
      <h5><span id="plagPercent">0</span> % plagiarised</h5>
      {% if mostProbable|length > 0 %}
      <p>Most Probable Sources</p>
      {% for sites in mostProbable %}
      <li><a href="{{sites[0]}}" style="word-wrap: break-word;">{{sites[0]}}</a></li>
      {% endfor %} {% endif %}
    </div>
    {% if assameseData|length > 0 %}
    <h1>Extracted text</h1>
    <p>{{assameseData}}</p>
    {% endif %}
    <!-- <ul>
      {% for sentence, src in res.items() %} {% if src == "" %}
      <li style="color: rgb(0, 255, 0)">
        {{ sentence }}
        <button class="btn btn-danger btn-sm orignalSentence">Unselect</button>
      </li>
      {% else %}
      <li style="color: red" class="blink-hard">
        {{ sentence }}: <a href=" {{ src }}">Source</a>
        <button class="btn btn-danger btn-sm plagiarisedSentence">
          Unselect
        </button>
      </li>

      {% endif %} {% endfor %}
    </ul> -->
    <div class="container">
      <table class="results">
        {% for sentence, src in res.items() %} {% if src == "" %}
        <tr>
          <td style="color: rgb(0, 255, 0)">{{ sentence }}</td>
          <td class="orignalSentence unselect fourth">Unselect</td>
        </tr>

        {% else %}
        <tr>
          <td style="color: red">
            {{ sentence }} : <a href=" {{ src }}">Source</a>
          </td>
          <td class=" btn-sm plagiarisedSentence unselect fourth">Unselect</td>
        </tr>
        {% endif %} {% endfor %}
      </table>
    </div>
  

    <script src="{{ url_for('static', filename='display.js') }}"></script>
  </body>
</html>
